

.main-container{
  background-position: center;
  margin-left: -6pt;
  margin-right: -6pt;
  padding-top: 50pt;
  margin-top: -70pt;
  margin-bottom: -12pt;
  position:sticky;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f02f17+8,f85032+39,f16f5c+96,e73827+100 */
  background: #f02f17; /* Old browsers */
  background: -moz-linear-gradient(top,  #f02f17 8%, #f85032 39%, #f16f5c 96%, #e73827 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f02f17 8%,#f85032 39%,#f16f5c 96%,#e73827 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f02f17 8%,#f85032 39%,#f16f5c 96%,#e73827 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f02f17', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */

}


h1 {
  padding-top: 20pt;
  align: center;
  position: sticky;
  font-size: 20pt;
}


p {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;

  padding-bottom: 20pt;
  padding-left: 60pt;
  padding-right: 60pt;
}
input[type="button"] {
  padding: 15px 80px;
  text-transform: uppercase;
  border: 1px solid #000000;
  cursor: pointer;
