

.main-container{
  background-position: center;
  margin-left: -6pt;
  margin-right: -6pt;
  padding-top: 50pt;
  margin-top: -70pt;
  margin-bottom: -12pt;
  position:sticky;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b7ad70+23,c9c190+65,d5cea6+87 */
  background: #b7ad70; /* Old browsers */
  background: -moz-linear-gradient(top,  #b7ad70 23%, #c9c190 65%, #d5cea6 87%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #b7ad70 23%,#c9c190 65%,#d5cea6 87%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #b7ad70 23%,#c9c190 65%,#d5cea6 87%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7ad70', endColorstr='#d5cea6',GradientType=0 ); /* IE6-9 */

}


h1 {
  padding-top: 20pt;
  align: center;
  position: sticky;
  font-size: 20pt;
}


p {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;

  padding-bottom: 20pt;
  padding-left: 60pt;
  padding-right: 60pt;
}
input[type="button"] {
  padding: 15px 80px;
  text-transform: uppercase;
  border: 1px solid #000000;
  cursor: pointer;
}
